/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #10002B;
  padding: 30px;
  color: #E0AAFF;
}

/* TITLE */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: #E0AAFF;
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

/* INPUT + SELECT */
input,
select {
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  background: #240046;
  color: #E0AAFF;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

input::placeholder {
  color: #C77DFF;
}

input:focus,
select:focus {
  background: #3C096C;
  box-shadow: 0 0 10px #9D4EDD;
}

/* TABLE CONTAINER */
.table-container {
  overflow-x: auto;
  background: #240046;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(157, 78, 221, 0.3);
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px;
}

/* TABLE HEAD */
th {
  background: #5A189A;
  color: #E0AAFF;
  padding: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

th:hover {
  background: #7B2CBF;
}

/* TABLE CELLS */
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #3C096C;
  color: #E0AAFF;
}

/* ROW HOVER */
tr:hover {
  background: #3C096C;
}

/* IMAGE */
img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #9D4EDD;
}

/* PAGINATION */
.pagination {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* BUTTON */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #7B2CBF;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

button:hover {
  background: #9D4EDD;
}

/* PAGE NUMBER */
#page {
  font-size: 20px;
  font-weight: bold;
  color: #E0AAFF;
}